tmp=~/tmp
save=true
save-exact=true
email=npm@mhaidarhanif.com
init.author.name=M Haidar Hanif
init.author.email=npm@mhaidarhanif.com
init.author.url=https://mhaidarhanif.com
init.license=MIT
cache-min=9999999
